set-window-option -g mode-keys vi
bind -T copy-mode-vi v send -X begin-selection
{{- if eq .chezmoi.os "darwin" }}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "pbcopy"
{{- else}}
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel
{{- end }}
bind P paste-buffer
